body{ /* "*" = representa o site inteiro */
    margin:0;/*ESPAÇAMENTO DE FORA*/
    padding:0;/*ESPAÇAMENTO DE DENTRO*/
    box-sizing: border-box;/*COLOCA OS OBJETOS EM CAIXAS*/
    font-family: Arial; /*DEFINE A FONTE*/
    outline: 0;
    Background: url(img/futebol.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
   
 
}
form{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 55%;
    margin-bottom: 5%;
    border: 1px solid #808080;
    box-shadow: 1px 1px 6px 1px #808080; /*sombra :D*/
    background: #fff;
    padding: 1%;

}
h2{
    margin:1%;
    color:black;
    font-family: Arial;
    font-size: 200%;
}
input{
    margin: 1%;
    border: 1px solid #808080;
    background: #fff;
    padding: 2%;
    color:black;
    border-radius: 10px;
    

}
button{
    margin-right: 30%;
    margin-left: 3%;
    margin-top: 6px;
    border-radius: 5px;
    cursor: pointer;
    background: lightblue;
    transition: 1s;
    height: 40px;
    width: 100px;
}
button:hover,button:focus{
    background: rgb(14, 120, 155);

}

.nmr{
    padding: 2%;
    margin-left: 5%;
    width: 10%;
}
.name{
    width: 70%;
}


.selecao{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 1%;
    border-radius: 5px;
    cursor: pointer;
    background: lightblue;
    transition: 1s;
    height: 40px;
    width: 100px;
}

img{
    width: 500px;
}

table{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #000;
    border-spacing: 0;
    background: #fff;
}


td{
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    text-align: center;
    padding: 0.5%;
} 
.delete{
    text-decoration: none;
    background: lightblue;
    color: #fff;
    font-size: 180%;
    padding: 3% 15%;
    border-radius: 80%;
}
.editar{
    text-decoration: none;
    background: rgb(2, 65, 107);
    color: #fff;
    font-size: 180%;
    padding: 3% 15%;
    border-radius: 100%;
}
.dados{
    margin-bottom: 2%;
}
a{
    color: #000;
    background: lightblue;
    padding: 5px;
    width: 35%;
    text-decoration: none;
    border-radius: 6px;
    border:2px solid #000;
    transition: 1s;
    cursor: pointer;
}

a:hover{
    background: rgb(14, 120, 155);
}

